form{
    display: flex;
    justify-content: center;
    height: 10px;
    padding: 10px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
table{
    box-align: center;
}
h1 {
    color: mediumvioletred;
    font-size: 24px;
    margin: 10px;
    padding: 5px;
}
p {
    text-align: center;
    font-size: 15px;
}
.style1>div{  
    background-color:red;
}
/* .lists>dl,ol,ul{
    text-align: center;
} */
h1 + h2 {
    text-align: center;
}
input[type="radio"] {
    background-color: blue;
}
#para{
   text-align: center;
   background-color: rgb(124, 176, 61);
}
a:hover{
    color:rgb(252, 3, 12);
}



