h1 {
    color: blue;
    font-size: 24px;
    margin: 10px;
    padding: 5px;
}
p {
    text-align: center;
    font-size: 30px;
}
.style1>div{  
    background-color:red;
}
.lists>dl{
    text-align: center;
}
h1 + h2 {
    text-align: center;
}
input[type="radio"] {
    background-color:blueviolet;
}
#para{
   text-align: center;
   background-color: aquamarine;
}
a:hover{
    color:violet;
}

